<!DOCTYPE html>
<html lang="en">

<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Texas - COVID-19</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #36454f;
      color: cadetblue;
      text-align: center;
    }
  </style>

<body style="background-color:#36454f;">  

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <h1 style="color: cadetblue;">Texas COVID-19 Dashboard</h2>
        <br><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <select id="selDataset">
        <option value="Travis" selected disabled>Select County</option>
        {% for county in all_counties %}
        <option value="{{ county }}">{{ county }}</option>
        {% endfor %} 
      </select>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div id="casePlot"></div>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div id="deathPlot"></div>
    </div>
  </div>
  <div class="row">
    <br><br><br><br>
  </div>
  <div class="footer">
    <p style="color:white">Data from: <a href='https://query.data.world/s/o6que7zbpjnykcz3ayncuhwkgsb3dp'>https://query.data.world/s/o6que7zbpjnykcz3ayncuhwkgsb3dp</a></p>
    <p style="color:white">GitHub: <a href='https://github.com/travis-tyler/Texas_COVID_app'>https://github.com/travis-tyler/Texas_COVID_app</a></p>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/app.js"></script>


</body>

</html>